select{
    color: black;
    background-color: rgb(161, 156, 156);
}

#color-1{
    color: black;
}

#color-2{
    color: white;
}

#color-3{
    color: violet;
}

#color-4{
    color: pink;
}

img {
    width: 300px;
}